/* These are the variables to use for the colours so if we change the colour scheme
we can easily change every element in the stylesheet, to use each colour, just place
var() around the name such as var(--grey) in place of any colour. */
:root {
	--grey: #343434;
	--dark_blue: #202A45;
	--light_blue: #63B4CF;
	--white: #FFFFFF;
}


body {
	font-family: "DM Sans", sans-serif;
	margin: 0px;
}

#navbar {
	position: sticky;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 3.5em;
	background-color: var(--dark_blue);
}

#navbar #login_button {
	position: absolute;
	right: 2%;
	top: 0.25em;
	height: 2.25em;
	font-family: "DM Sans", sans-serif;
	font-size: 20px;
	background-color: var(--light_blue);
	color: white;
	border: 0px;
	cursor: pointer;
}

#navbar #profile_page_link {
	position: relative;
	float: right;
	right: 1em;
	top: 0.5em;
	color: white;
	font-size: 1.5em;
}

.modal {
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding-top: 60px;
	background-color: rgba(0, 0, 0, 0.1); /* This lets you set the opacity as the 4th argument, so this is grey */
}

.modal_animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;
}

@-webkit-keyframes animation {
	from {-webkit-transform: scale(0)}
	to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
	from {transform: scale(0)};
	to {transform: sclae(1);}
}

.modal > .modal_content {
	background-color: white;
	position: relative;
	margin: 5px auto;
	width: 40%;
	border: 3px solid var(--dark_blue);
	border-radius: 3px;
}

.modal .modal_content h3 {
	font-size: 1.2em;
}

.modal .modal_content form {
	padding: 20px;
}

.modal .modal_content p {
	position: absolute;
	right: 3%;
	top: 1.5%;
	margin: 0px;
	font-size: 30px;
	cursor: pointer;
}

.modal .modal_content form input:not(input[type=submit]) {
	display: block;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 5px;
}

.modal .modal_content form input[type=submit] {
	float: right;
	font-size: 18px;
	background-color: var(--light_blue);
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
	color: white;
	cursor: pointer;
}

.modal .modal_content form a {
	color: black;
}

#join_button {
	border: 1px solid white;
	border-radius: 3px;
	background-color: var(--light_blue);
	padding: 10px;
	color: white;
	font-family: "DM Sans", sans-serif;
	font-size: 20px;
	width: 10%;
	cursor: pointer;
}

#main_information {
	background-color: var(--dark_blue);
	color: white;
	padding: 1em 0em 1em 0em;
}

#join_area {
	margin-top: 2.5em;
}

#main_content {
	margin: 0em;
	/* display: flex; */
	/* flex-direction: row; */
}

.main_home {
	display: flex;
	flex-direction: row;
}

#navigation_pane {
	position: relative;
	width:  20%;
	height: 100%;
	border-right: 3px solid var(--dark_blue);
	font-size: 1.1em;
}

#navigation_pane ul {
	position: relative;
	margin-top: 0em;
	list-style: none;
	padding-left: 0em;
}

#navigation_pane li {
	margin: 0em 2em;
	padding: 1em;
}

#navigation_pane ul li a {
	cursor: pointer;
}

#current_content {
	width: 80%;
}

#current_content h2 {
	position: relative;
	left: 5%;
}

#current_content .info h2 {
	padding-bottom: 0.2em;
	text-decoration: underline;
}

.info {
	margin: 2em 4em 4em 4em;
	padding: 1em 0em 0em 0em;
	border: 0.1em solid var(--dark_blue);
}