#main_content {
	position: relative;
	top: 8vh;
	height: 92vh;
	display: flex;
	flex-direction: row;
}

#sidebar {
	width: 20vw;
	height: 100vh;
	position: fixed;
	border-right: 3px solid var(--dark_blue);
}

#inside_content {
	width: 80vw;
    height: 92vh;
    left: 20vw;
    position: relative;
}

.user_box {
	border: 2px solid var(--dark_blue);
	border-radius: 8px;
	margin: 1em;
	display: flex;
	flex-direction: row;
	width: 80%;
}

.user_box .left_side, .user_box .right_side {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 10px;
}

.user_box .right_side {
	margin-top: 1em;
}

.user_box p, .user_box h3 {
	text-align: left;
}

.user_box h3 {
	margin-top: 0.5em;
	margin-left: 0.5em;
}

.user_box p {
	margin-left: 1em;
}

#filters_title {
	padding: 1em 3em;
	width: 80%;
	text-align: center;
	letter-spacing: 0.1em;
	border-bottom: 2px solid var(--dark_blue);
}


.filter_name {
	position: relative;
	float: left;
	margin-top: 1em;
	padding-left: 2em;
	width: 100%;
	text-align: left;
}

#course_selector, #nationality_selector {
	width: 80%;
	border: 2px solid var(--dark_blue);
	font-size: 0.9em;
	border-radius: 3px;
	background: white;
	padding: 0.7em;
	margin-top: 1em;
}

#accommodation_filter, #hobbies_filter {
	display: flex;
	flex-direction: column;
}

#accommodation_filter:hover, #hobbies_filter:hover {
	color: var(--dark_blue);
	cursor: pointer;
}


#dropdown_button_accommodation, #dropdown_button_hobbies {
	position: relative;
	font-weight: bold;
	cursor: pointer;
	float: right;
	right: 2em;
}

#accommodation_boxes, #hobbies_boxes {
	display: flex;
	flex-direction: column;
	display: none;
	margin-top: 1em;
	padding-left: 1em;
}


.flex_row, .flex_row_hobby {
	display: flex;
	flex-direction: row;
}

.flex_row label, .flex_row input, .flex_row_hobby label, .flex_row_hobby input {
	float: left;
	display: inline-block;
}

.flex_row input, .flex_row_hobby input  {
	margin: auto 1em;
	width: 20%;
}

.flex_row label, .flex_row_hobby label {
	text-align: left;
	margin-left: 1em;
	width: 70%;
	float: left;
}

#find_friends_link_highlight{
	color: var(--light_blue);
	font-weight: 900;
	font-style: italic;
	margin: 0.2em 1.5em;
  	width: 5em;
  	height: 80%;
  	font-family: "DM Sans", sans-serif;
  	font-size: 20px;
  	border-radius: 20px;
  	cursor: pointer;
  	display: inline-flex;
  	align-items: center;
  	justify-content: space-around;
  	text-decoration: none;
  	width: 7em;
}

.biography {
	border: 1px solid var(--dark_blue);
	border-radius: 5px;
	padding: 8px;
	margin: 2px 2px 2px 0px;
}

#intro_content {
	position: relative;
	top: 20vh;
	width: 80%;
	color: var(--dark_blue);
}

#apply {
	background: var(--dark_blue);
	font-size: 1.1em;
	border-radius: 10px;
	cursor: pointer;
	color: white;
	width: 60%;
	padding: 1em;
	margin-top: 1em;
}

#results {
	position: relative;
	float: left;
	margin-top: 1em;
}