:root {
    --grey: #343434;
    --dark_blue: #202A45;
    --light_blue: #63B4CF;
    --white: #FFFFFF;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    /*scroll-behavior: smooth;*/
  }
  
  /*html { overflow-y: scroll; }*/
  
  body{
    overflow-x: hidden;

  }
  
  #navbar{
    position: sticky;
    top: 0px;
    left: 0px;
    height: 8vh;
    background-color: #202A45;
    z-index: 101;
    display: flex;
    flex-direction: row-reverse;
  }

  #navbar .navbar_button {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    margin: auto 1.5em;
    width: 8em;
    height: 5.5vh;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    background-color: var(--light_blue);
    color: white;
    border: 1px solid var(--light_blue);
    border-radius: 2px;
    cursor: pointer;
  }

  #logout_form {
    margin: auto 1.5em;
  }

  #logout_form .navbar_button {
    height: ;
  }
  
  /* obselete?  */
  #navbar #profile_page_button {
    position: absolute;
    right: 2%;
    top: 0.25em;
    height: 2.25em;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    background-color: #63B4CF;
    color: white;
    border: 0px;
    cursor: pointer;
  }

#main {
    height: 120vh;
}

  #footer {
    background-color: var(--dark_blue);
    color: white;
    height: 30vh;
    padding: 20px 0;
    width: 100%;
    /*position: absolute;*/
  }
  h1{
    color: var(--dark_blue);
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 35px;
  }
  .footer_container{
    max-width: 1170px;
    margin: auto;
  }
  .row{
    display: flex;
  
  }
  ul{
    list-style: none;
  }
  
  .footer_col{
    width: 30%;
    padding: 0 15px;
  
  }
  .footer_col h4{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  .footer_col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--light_blue);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  
  }
  .footer_col ul li:not(:last-child){
    margin-bottom: 10px;
  
  }
  .footer_col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #C0C0C0;
    display: block;
    transition: all 0.3s ease;
  }
  .footer_col ul li a:hover{
    color: white;
    padding-left: 10px;
  }
  .footer_col .social_links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #696969;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
  }
  .footer_col .social_links a:hover{
    color: black;
    background-color: var(--light_blue);
  }
  @media(max-width: 767px){
    .footer_col{
    width: 50%;
    margin-bottom: 30px;
  
  }
  }
  @media(max-width: 574px){
    .footer_col{
    width: 100%;
  }
  }
  .footer_col ul li a .logo_footer{
    width: 30%;
    /*margin-top: 5em;
    margin-bottom: 3em;
    margin-left: 3em;
    /*float: left;*/
  }
